*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: teal;
}

button {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  user-select: none;
  margin-top: 20px;
  padding: 15px 20px;
  min-width: 400px;
  border-radius:5px;
  background: white;
  border: 5px solid white;
  color: black;
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}

img {
  width: 10%;
  margin-bottom: 100px;
  transform-origin: bottom;
  user-select: none;
  animation: key 2s ease-in-out infinite alternate;
  animation-timing-function: linear;
}

label {
  position: relative;
}

label input {
  background: transparent;
  padding: 1rem 20px;
  min-width: 400px;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid teal;
  color: white;
  transition: border-color 0.3s ease;
}

label input::selection {
  background: cyan;
}

label p {
  font-size: 1rem;
  user-select: none;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  padding: 0 5px;
  background: teal;
  color: white;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
}

label input:not(:placeholder-shown) {
  border-color: cyan;
}

label input:not(:placeholder-shown) + p {
  top: 0;
  font-size: calc(15 / 20 * 1rem);
  color: hsl(150, 50%, 50%);
}

label input:placeholder-shown + p {
  color: black;
}

@keyframes key {
  from {
    transform: translateY(1.5);
  }

  to {
    transform: translateY(-15px);
  }
}

.footer {
  position: absolute;
  top: 900px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
  
.footer-link, .footer-link:visited {
	text-decoration: none;
	color:white;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	transition: all 0.3s ease;
	display: inline-block;
	position: relative;
}
 
  
.footer-link:hover {
	transition: all 0.3s ease;
  color: cyan;
}
  
@media (max-width: 27.875rem) {
  label input {
    min-width: 300px;
  }

  button {
      min-width: 300px;
  }
}
